<nav class="navbar navbar-expand-lg navbar-light " style="background-color:green;">
  <a class="navbar-brand" href="#">Navbar</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
   aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item">
      <a class="nav-link" <%= link_to 'Home', home_path %> </a>
      </li>

      <li class="nav-item">
      <a class="nav-link" <%= link_to 'About', about_path %> </a>
      </li>

      <li class="nav-item">
      <a class="nav-link" <%= link_to 'Info', info_path %> </a>
      </li>

      <li class="nav-item">
      <a class="nav-link" <%= link_to 'Pet Profiles', petprofiles_path %> </a>

      </li>

      <li class="nav-item">
      <a class="nav-link" <%= link_to 'Pets', pets_path %> </a>

 <% if user_signed_in? %>
       </li>   
      <li class="nav-item">
      <a class="nav-link"  <%= link_to ' Hello ' +  current_user.name , edit_user_registration_path %> </a>
      </li>


      <li class="nav-item">
      <a class="nav-link" <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %> </a>
    
       
 <% else %>
   </li>

   <li class="nav-item">
   <a class="nav-link"  <%= link_to 'Register', new_user_registration_path %>  </a>
   </li> 

   <li class="nav-item">
   <a class="nav-link"    <%= link_to 'Sign in', new_user_session_path %> </a>

        
 </li>

<% end %>


    </ul>
    
  
  </div>
</nav>